{% extends "../sub_base.html" %}
{% block title %}Register Account{% endblock %}
{% block sub_content %}

<form class="account-form" action="." method="post">
  {% csrf_token %}
  <h3 class="mb-2">Create an account</h3>
  <p class="mb-4">It's free and only takes a minute.</p>

  {% if form.errors %}
    <div class="alert alert-danger" role="alert">
      <strong>Please correct the following errors:</strong>
      <ul>
        {% for field in form %}
          {% for error in field.errors %}
            <li>{{ field.label }}: {{ error }}</li>
          {% endfor %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <div class="mb-3">
    <label for="id_user_name" class="form-label">{{ form.user_name.label }} <span class="text-muted small">(Required)</span></label>
    {{ form.user_name }}
  </div>

  <div class="mb-3">
    <label for="id_email" class="form-label">{{ form.email.label }} <span class="text-muted small">(Required)</span></label>
    {{ form.email }}
  </div>

  <div class="mb-3">
    <label for="id_password" class="form-label">{{ form.password.label }} <span class="text-muted mb-4"></span></label>
    <small class="form-text text-muted mb-4 small">At least 8 characters and 1 digit</small>
    {{ form.password }}
  </div>

  <div class="mb-3">
    <label for="id_password2" class="form-label">{{ form.password2.label }} <span class="text-muted small">(Required)</span></label>
    {{ form.password2 }}
  </div>

  <button class="btn btn-primary btn-block py-2 mb-4 mt-5 fw-bold" type="submit">Register</button>
  <p class="text-center">
    <a href="{% url 'account:login' %}">Already have an account?</a>
  </p>
</form>

{% endblock %}
